@import "tailwindcss";

:root {
  --background: #f7f6f6;
  --textcolor: #0f345b;
  --heading: #89163c;
  --accent1: #d8c3a5;
  --accent2: #e85a4f;
}

.bg-background {
  background-color: var(--background);
}

.text-primary {
  color: var(--textcolor);
}

.text-heading {
  color: var(--heading);
}

.text-accent1 {
  color: var(--accent1);
}

.text-accent2 {
  color: var(--accent2);
}